.content {
  max-width: 500px;
  margin: 30px auto 0;
}

.btn {
  background-color: #fff;
}

h1 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #ec6e4c;
}

.current-date-time {
  text-align: center;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.current-date {
  margin-right: 8px;
}

.current-time {
  margin-left: 8px;
}

.current {
  margin-bottom: 10px;
  text-align: center;
}

.current-temp {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  display: inline;
  vertical-align: middle;
  padding-left: 30px;
  color: #48484a;
}

.tempUnit {
  font-size: 40px;
  display: inline;
}

.current img {
  vertical-align: middle;
  width: 90px;
}

img {
  width: 70px;
  margin: 0 auto;
  display: inline;
}

.current-details {
  padding: 10px 10px 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
  list-style: none;
}

h3 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
  color: #ec6e4c;
}

.forecast {
  font-family: "Nunito", sans-serif;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 18px;
}

.forecast-day {
  padding-top: 20px;
}

.forecast-temp {
  text-align: right;
}

#forecast-low-temp {
  opacity: 60%;
}

.footer {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  font-family: "Space Mono", monospace;
}

.footer a {
  color: #bb583b;
}
